In [25]:
x = [1,"abcd",2,"efgh",[3,4]]

In [27]:
x[:-2]

[1, 'abcd', 2]

In [3]:
x = [1,"abcd",2,"efgh",[3,4]]  # Statement 1
y = x[0:6]                     # Statement 2
z = x                          # Statement 3
w = y                          # Statement 4
x[1] = x[1][0:3] + 'd'         # Statement 5
y[2] = 4                       # Statement 6
z[1][1:3] = 'yzw'              # Statement 7
z[0] = 0                       # Statement 8
w[4][0] = 1000                 # Statement 9
a = (x[4][1] == 4)             # Statement 10

TypeError: 'str' object does not support item assignment

In [4]:
x = [1,"abcd",2,"efgh",[3,4]]

In [5]:
z = x

In [30]:
z[1][1:3]

'bc'

In [15]:
x = [423,'b',37,'f']
u = x[1:]
y = u
w = x
u = u[0:]
u[1] = 53
x[2] = 47

In [17]:
x[2]

47

In [19]:
y[1]

37

In [20]:
w[2]

47

In [21]:
u[1]

53

In [22]:
def mystery(l):
  l = l[0:5]
  return()

list1 = [44,71,12,8,23,17,16]
mystery(list1)

()

In [23]:
list1

[44, 71, 12, 8, 23, 17, 16]

In [28]:
first = "tarantula"
second = ""
for i in range(len(first)-1,-1,-1):
  second = first[i] + second

In [29]:
second

'tarantula'